.room-page {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.file-explorer{
    width: 250px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.file-explorer select {
    width: 180px;
    margin-bottom: 16px;
}

.editor-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100vh;
}

.file-item{
    padding: 8px;
    cursor: pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px;
}

.file-item:hover{
    background-color: #2a2a2a;
}

.file-item.active{
    background-color: #3a3a3a;
}

.file-item span{
    cursor:pointer;
}

.files-section{
    flex: 1;
}

.members-section{
    margin-top: auto;
    border-top: 1px solid #444;
    padding: 10px;
}

.resize-handle{
    width: 5px;
    cursor: col-resize;
    background: #333;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.editor-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
}

.question-meta {
    margin-bottom: 12px;
}

.execution-panel {
    display: flex;
    gap: 10px;
    height: 120px;
    padding: 10px;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
}

.execution-panel > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.execution-panel textarea {
    flex: 1;
    width: 100%;
    resize: none;
}

.execution-panel pre {
    flex: 1;
    margin: 0;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

.console-resize-handle {
    height: 8px;
    background: #333;
    cursor: row-resize;
    width: 100%;
}

body.resizing {
    user-select: none;
}

.console-header {
    padding: 5px 10px;
    border-top: 1px solid #444;
}